.venv/
.DS_Store
data/

*.pt
*.pth

src/__pycache__/
run_metrics.json
.vscode/

#unified project data folders
logs/
results/
analysis/

#scripts and other files
graph_results.py
experiment_design.md
final_analysis_walkthrough.md

#results
results_client0/
logs_client0/
analysis_client0/
papers/